<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Leaderboard</h1>
        <a href="{{ url_for('home') }}" class="btn btn-secondary mb-3">Back to Home</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Total Points</th>
                    <th>Latest Points </th>
                </tr>
            </thead>
            <tbody>
                {% for user in leaderboard_data %}
                <tr>
                    <td>{{ loop.index }}</td>  <!-- Rank -->
                    <td>{{ user.username }}</td>
                    <td>{{ user.total_points }}</td>
                    <td>{{ user.latest_points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>